<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1730</integer>
  <key>capHeight</key>
  <integer>-500</integer>
  <key>copyright</key>
  <string>Copyright (c) 2018 Simen Schikulski.
This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
  <key>descender</key>
  <integer>-410</integer>
  <key>familyName</key>
  <string>Schikulski Handwriting</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2018/02/12 08:53:01</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>note</key>
  <string></string>
  <key>openTypeNameDesigner</key>
  <string>Simen Schikulski</string>
  <key>openTypeNameLicense</key>
  <string>Copyright (c) 2018 Simen Schikulski.
This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Schikulski Handwriting</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameVersion</key>
  <string>Version 0.100</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>1730</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-410</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>184</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>CLGR</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1497</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>365</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-20</integer>
    <integer>0</integer>
  </array>
  <key>postscriptFontName</key>
  <string>SchikulskiHandwriting-Regular</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Schikulski Handwriting Regular</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptUnderlinePosition</key>
  <integer>-256</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>102</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>Schikulski Handwriting</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>0</integer>
  <key>versionMinor</key>
  <integer>100</integer>
  <key>xHeight</key>
  <integer>750</integer>
</dict>
</plist>
